@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        font-family: Arial;
    }

    .custom-font {
        color: #6495ED;
    }
 
   
</style>

<div class="container text-center mt-5 custom-font">
    <h1>Welcome to my Reading Records App</h1>
    <p>We provide you with the ability to keep track of the books you have read by storing it in your very own digital library!</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="~/images/books1.jpg" class="img-fluid mb-4" alt="Book 1" style="height: 500px; width: 100%;" />
        </div>
        <div class="col-md-4 text-center">
            <img src="~/images/book2.jpg" class="img-fluid mb-4" alt="Book 2" style="height: 500px; width: 100%;" />
        </div>
        <div class="col-md-4 text-center">
            <img src="~/images/book3.jpg" class="img-fluid mb-4" alt="Book 3" style="height: 500px; width: 100%;" />
        </div>
    </div>
</div>
